@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Raleway:wght@200;300;400;500;600;700&display=swap");

$blue: #1e3d59;
$blue2: #002c94;
$orange: #ff6e40;
$black: #322e2f;
$grey: #5d6d7e;
$grey2: #ecf0f1;
$sky-blue: #d6eaf8;
$mango: #ffc13b;

$light-color: linear-gradient(
  to left,
  rgba(116, 235, 213, 0.6),
  rgba(159, 172, 230, 0)
);

$lg-color: linear-gradient(ro left, #74ebd5, #9face6);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
  transition: all 0.5s linear;
  font-size: 64.5%;
}

body {
  position: relative;
  // font-family: "Roboto", sans-serif;
  font-family: "Poppins", sans-serif;
  color: $black;
  font-weight: 400;
  font-size: 1.6rem;
  // background-image: url("../img/concrete-texture.png");
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  margin: 50px auto;
}

// ------------- Scroll Bar ---------------------
::-webkit-scrollbar {
  width: 0.7rem;
  background-color: lighten($color: $blue, $amount: 55%);
}

::-webkit-scrollbar-thumb {
  background-color: lighten($color: $blue, $amount: 45%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: lighten($color: $blue, $amount: 35%);
}

// ---------------------top bar -----------------------------

.topNav {
  // height: 3rem;
  // line-height: 3.5rem;
  background: $blue2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 41px;
  z-index: 1200;
}

.topNav_content {
  display: flex;
  justify-content: space-between;
  h3 {
    color: $sky-blue;
    font-weight: 300;
    font-size: 1.5rem;
    // line-height: 30px;

    a {
      display: inline-block;
      padding: 5px 10px;
    }
  }
}

.topNav_content h3 a:hover {
  color: $orange;
  // background-color: $sky-blue;
}



// ----------------------------Navigation

.nav_menu {
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wrapper .nav_list {
  display: inline-flex;
}

.nav_menu .logo img {
  max-width: 60%;
  min-width: 60%;
}

.wrapper .nav_list li a {
  display: inline-block;
  font-size: 1.6rem;
  padding: 0.2rem 1.4rem;
  font-weight: 600;
  color: $grey;
  position: relative;
}

.wrapper .nav_list li a:hover {
  color: $orange;
}

.wrapper .nav_list li a.active {
  color: $orange;
}

.nav_list .dropdown1 {
  top: 8.5rem;
  position: absolute;
  line-height: 2.3;
  visibility: hidden;
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.nav_list li:hover .dropdown1,
.nav_list li:hover .dropMenu2 {
  top: 6.5rem;
  visibility: visible;
  opacity: 1;
}

.nav_list .dropMenu2 {
  position: absolute;
  top: 8.5rem;
  left: 5%;
  width: 80%;
  line-height: 2.3;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.nav_list .dropMenu2 .content {
  display: flex;
  justify-content: space-between;
}

.nav_list .dropMenu2 .content h3 {
  font-weight: bold;
  text-align: center;
}

.nav_list .dropMenu2 .content a {
  display: inline-block;
  text-align: center;
}

.wrapper .close_btn {
  font-size: 1.8rem;
  cursor: pointer;
  display: none;
}

.wrapper .openBtn {
  font-size: 2.5rem;
  cursor: pointer;
  color: #000;
  display: none;
}

.wrapper input {
  display: none;
}

.wrapper .mobile_item {
  display: none;
}

@media only screen and (min-width: 1026px) {
  .nav_menu {
    padding: 0 55px;
  }
}

@media only screen and (max-width: 996px) {
  .wrapper .nav_list {
    position: fixed;
    top: 30px;
    left: -100%;
    width: 100%;
    height: 100%;
    max-width: 35rem;
    background: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    display: block;
    line-height: 5.5rem;
    z-index: 999999;
    transition: all 500ms ease-in-out;
  }

  .wrapper .nav_list.show {
    left: 0;
  }

  #dropdown1:checked ~ .dropdown1,
  #dropMenu2:checked ~ .dropMenu2 {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  #dropdown1:checked ~ .mobile_item,
  #dropMenu2:checked ~ .mobile_item {
    color: $orange;
  }

  .nav_list .dropdown1 {
    position: static;
    width: 90%;
    margin-left: 2rem;
    display: none;
  }

  .nav_list .dropdown1 li {
    width: 100%;
  }
  .nav_list .dropdown1 li a {
    width: 100%;
  }

  .wrapper .desktop_item {
    display: none !important;
  }

  .wrapper .mobile_item {
    padding-left: 2rem;
    font-weight: 1.6rem;
    font-weight: 600;
    color: $grey;
    display: block;
    cursor: pointer;
  }

  .wrapper .dropMenu2 {
    position: static;
    visibility: visible;
    opacity: 1;
    width: 90%;
    margin-left: 2rem;
    display: none;
  }

  .nav_list .dropMenu2 .content {
    flex-direction: column;
  }

  .nav_list .dropMenu2 .content h3 {
    text-align: center;
  }

  .nav_list .dropMenu2 .content li {
    width: 100%;
  }

  .nav_list .dropMenu2 .content li a {
    text-align: center;
    width: 100%;
    line-height: 3.5rem;
  }

  .nav_list .top {
    position: relative;
    width: 100%;
    height: 6rem;
    background: $sky-blue;
  }

  .nav_list .top:hover .close_btn {
    background: $grey2;
    color: $grey;
    opacity: 1;
  }

  .wrapper .close_btn {
    display: block;
    position: absolute;
    top: 12%;
    right: 5%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.3);
    opacity: 0.7;
    transition: all 500ms ease-in-out;
  }

  //   .wrapper .close_btn:hover{

  //   }

  .wrapper .openBtn {
    color: #000;
    position: absolute;
    right: 28px;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav_menu {
    padding: 0px 5px;
  }

  .topNav {
    padding: 0px 5px;
  }
}

@media only screen and (max-width: 540px) {
  .nav_menu .logo img {
    max-width: 43%;
    min-width: 45%;
    margin-left: 14px;
  }

  .topNav_content {
    h3 {
      font-weight: 300;
      font-size: 1rem;
      // line-height: 30px;

      a {
        display: inline-block;
        padding: 8px 5px;
      }
    }
  }
}

@media screen and (max-width:330px){
  .topNav_content{
    h3{
      font-size: 0.9rem !important;
    }
  }
}

@media screen and (max-width:280px){
  .topNav_content{
    h3{
      font-size: 0.7rem !important;
    }
  }
}

// -------------------- sldier css -----------------
.section2 {
  margin-top: 100px;
  margin-bottom: 50px;
}

.carousel {
  position: relative;
  height: 560px;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #eee;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.slider {
  height: 100%;
  width: 100%;
  display: flex;
}

.slider .banner {
  min-width: 100%;
  padding: 24px;
  cursor: grab;
}

.banner .banner_data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.banner_bg_training {
  background: linear-gradient(110deg, $blue 10%, transparent);
}

.banner-content {
  h1 {
    text-transform: uppercase;
    font-size: 3.5rem;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-weight: bold;
    color: #fff;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
    color: #fff;
    text-align: justify;
    line-height: 1.8;
    margin-bottom: 2rem;
    background: linear-gradient();

    span {
      background: $orange;
      color: #fff;
      padding: 5px 8px;
      border-radius: 2px;
    }
  }
}

.banner {
  .banner-img {
    img {
      border-radius: 10px;
    }
  }
}

.banner_bg_img {
  background-image: url("../img/slider2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.9;
}

.banner_bg_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(-50deg, transparent, $blue 60%);
  opacity: 0.7;
  // background: rgba($color: $blue, $alpha: 0.5);
  z-index: -1;
}

.banner_bg_img {
  display: flex;
  align-items: center;
  justify-content: center;
  .banner_data2 {
    position: relative;
    width: 80%;
    padding: 24px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 10px;
      opacity: 0.7;
      background: $blue2;
      border-radius: 10px;
      z-index: -1;
    }
    .banner-content {
      z-index: 1;
      h1 {
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 80px;
        color: #fff;
        font-weight: bold;
        margin-bottom: 20px;
      }
      p {
        color: #fff;
        font-size: 2rem;

        span {
          background: $orange;
          color: #fff;
          padding: 5px;
        }
      }
    }
  }
}

.banner_bg_img2 {
  background-image: url("../img/slider3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.9;
  // background: linear-gradient(130deg, transparent, $blue 90%);
}

.banner_bg_img2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(-50deg, transparent, $blue 60%);
  opacity: 0.7;
  // background: rgba($color: $blue, $alpha: 0.5);
  z-index: -1;
}

.banner_bg_img2 {
  display: flex;
  align-items: center;
  justify-content: center;
  .banner_data2 {
    position: relative;
    width: 80%;
    padding: 24px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 10px;
      opacity: 0.7;
      background: $blue2;
      border-radius: 10px;
      z-index: -1;
    }
    .banner-content {
      h1 {
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 80px;
        color: #fff;
        font-weight: bold;
      }
      p {
        color: #fff;
        font-size: 2rem;

        span {
          background: $orange;
          color: #fff;
          padding: 5px;
        }
      }
    }
  }
}

.content-link .btn {
  background-image: linear-gradient(135deg, #52e5e7 10%, #130cb7 100%);
  padding: 1rem 1.5rem;
  border-radius: 0.8rem;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.carousel .controls .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: $blue;
  cursor: pointer;
}

.arrow.left {
  left: 2px;
}

.arrow.right {
  right: 2px;
}

@media screen and (max-width: 1024px) {
  .section2 {
    margin-top: 115px;
  }

  .carousel {
    height: 750px;
  }

  .banner {
    .banner-img {
      img {
        margin-top: 100px;
        border-radius: 10px;
      }
    }
  }
}

@media only screen and (max-width: 996px) {
  .section2 {
    margin-top: 115px;
  }
  .carousel {
    height: 800px;
  }

  .carousel .controls .arrow {
    font-size: 30px;
  }

  .controls ul li {
    width: 10px;
    height: 10px;
  }

  .slider {
    .banner .banner_data {
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
      justify-items: center;

      .banner-content {
        p {
          font-size: 1.5rem;
        }
      }
    }
  }

  .banner-content {
    h1 {
      font-size: 2.5rem;
    }

    .btn {
      font-size: 1.6rem;
      padding: 1.1rem 1.2rem;
    }
  }

  .banner_bg_img,
  .banner_bg_img2 {
    .banner-content {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 748px) {
  .section2 {
    margin-top: 115px;
  }

  .carousel {
    height: 800px;
  }

  .banner-content {
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1.5rem;
    }

    .btn {
      font-size: 1.4rem;
      padding: 1.1rem 1.2rem;
    }
  }

  .slider {
    .banner {
      .banner-content {
        margin-top: 0rem;
        margin-bottom: 0rem;
      }
    }
  }

  .banner_bg_img {
    .banner_data2 {
      width: 100%;

      .banner-content {
        p {
          font-size: 1.5rem;
        }
      }
    }
  }

  .banner_bg_img2 {
    .banner_data2 {
      width: 100%;

      .banner-content {
        p {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 548px) {
  .carousel {
    height: 850px;
  }
  .btn {
    font-size: 1rem !important;
    padding: 0.8rem 0.9rem !important;
  }
}

@media only screen and (max-width:480px){
  .banner-content {
    h1 {
      font-size: 1.4rem;
    }

    p {
      font-size: 0.9rem;
    }

    .btn {
      font-size: 1.2rem;
      padding: 1rem 1.2rem;
    }
  }
}

//=====================  modal form css  ==================

#modal_contact {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 999999;
}

#modal_content {
  margin: 35px auto;
  width: 60%;
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.4);
  position: relative;
  animation-name: modalSlideUp;
  animation-duration: 1s;
}

#modal_header {
  padding: 20px 30px;
  display: flex;
  margin-bottom: 20px;
  background-image: linear-gradient(135deg, #a3bded 10%, #6991c7 100%);
  border-radius: 5px;
  color: #fff;
  position: relative;
}

#modal_header .close_modal {
  position: absolute;
  top: 16px;
  right: 5%;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal_header h2 {
  margin-left: 10px;
}

#modal_body {
  padding: 20px 30px;
}

#modal_body h3 {
  margin-top: 0px;
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: 500;
}

#model_body form {
  height: 100%;
  width: 100%;
}

.form_group {
  position: relative;
}

.form_group input,
textarea {
  width: 100%;
  padding: 10px 0px 0 48px;
  outline: none;
  border: none;
  border-bottom: 1px solid #a3bded;
  margin-bottom: 35px;
  font-size: 16px;
  border-radius: 10px;
}
.form_group textarea {
  min-height: 120px;
  max-height: 200px;
  min-width: 100%;
  max-width: 100%;
  border: 1px solid #a3bded;
}

.form_group label {
  position: absolute;
  bottom: 40px;
  left: 66px;
  cursor: text;
  transition: all 0.5s ease;
  pointer-events: none;
  color: #d4d1d1;
}

.form_group .label2 {
  top: 0px;
}

.form_group input:focus,
.form_group textarea:focus {
  border-bottom: 2px solid #a3bded;
}

.form_group input:focus ~ label,
.form_group textarea:focus ~ label,
.form_group input:valid ~ label,
.form_group textarea:valid ~ label {
  transform: translateY(-23px);
  font-size: 1rem;
  color: #21618c;
}

.form_group input:focus ~ span,
.form_group textarea:focus ~ span {
  opacity: 1;
}

.form_group span {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 24px;
  pointer-events: none;
  color: #21618c;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}

.form_group small {
  position: absolute;
  right: 10px;
  color: #e74c3c;
  /* display: none; */
}

form input[type="submit"] {
  width: 100%;
  padding: 0.9rem 0;
  outline: none;
  border: none;
  background-image: linear-gradient(135deg, #52e5e7 10%, #130cb7 100%);
  border-radius: 0.8rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

form input[type="submit"]:hover {
  color: antiquewhite;
  background-image: linear-gradient(135deg, #130cb7 10%, #52e5e7 100%);
}

@media (max-width: 640px) {
  #modal_content {
    width: 90%;
    padding: 10px 20px;
  }
  #modal_header {
    padding: 30px 20px;
  }

  #modal_header .close_modal {
    top: 2px;
    right: 2%;
    width: 40px;
    height: 40px;
  }

  #modal_header h2 {
    font-size: 20px;
  }

  #modal_body h3 {
    font-size: 1.4rem;
  }

  form input[type="submit"] {
    font-size: 1.4rem;
  }
}

#successMsg {
  color: green;
}

@keyframes modalSlideUp {
  0% {
    transform: translateY(1500px);
  }
  100% {
    transform: translateY(0);
  }
}

/* ALERT CSS */
.alert {
  background: #2ecc71;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 0px;
  top: 10px;
  border-radius: 4px;
  border-left: 8px solid #27804c;
  overflow: hidden;
  pointer-events: none;
  z-index: 1000000000;
  opacity: 0;
}

.alert .fa-exclamation-circle {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #0b5c2d;
  font-size: 30px;
}

.alert .msg {
  padding: 0 20px;
  font-size: 18px;
  color: #0b5c2d;
}

.alert .close-btn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #0b5c2d;
  padding: 20px 18px;
  cursor: pointer;
}

.close-btn .fa-times {
  color: #2ecc71;
  font-size: 22px;
  line-height: 40px;
}

.alert.show {
  animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-10%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10%);
  }
}

// -------------------------- notice section------------------------
.notice {
  .card {
    background: #6497b1;
    border-radius: 10px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    transition: all 500ms;

    .card-header {
      background: #005b96;
      opacity: 0.9;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      h2 {
        text-transform: capitalize;
        letter-spacing: 1px;
        font-family: "Raleway";
        font-weight: 500;
        font-size: 3rem;
        padding: 13px 0px;
        color: #faebefff;
      }
    }

    .card-footer {
      background: #6497b1;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &:hover {
      transform: scale(1.03);
    }
  }

  .card-body {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 300px;
    z-index: 10;

    .card_slider {
      height: 100%;
      width: 800% !important;
      display: flex !important;
      justify-content: center;
      align-items: center;
      transition: all 500ms;

      img {
        overflow: hidden;
        height: 250px;
        flex-basis: 100%;
        margin: 0 18px;
        border-radius: 10px;
        z-index: 1;
      }
    }

    .btnSldier {
      position: absolute;
      top: 5px;
      right: 5px;
      color: $sky-blue;
      cursor: pointer;

      .fa-play {
        display: none;
      }
    }
  }
}

.card_update {
  .btn {
    background: #adcbe3 !important;
    font-size: 1.4rem;
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 991px) {
  .notice {
    .card {
      &:hover {
        transform: scale(1);
      }
    }
  }
}

// 2nd card
.notice_content {
  .card {
    background: #35a79c;
  }

  .card-header {
    background: #009688 !important;
  }
  .card-body {
    height: 300px;

    p {
      color: #fff;
    }
  }

  .card-footer {
    background: #35a79c !important;
  }

  .btn {
    background: #65c3ba !important;
    font-size: 1.4rem;
  }
}

//======================  iscool linkage section   ==================
.iscool_linkage {
  height: 50vh;
  // background: #f1f1f1;
  padding: 14px 0;

  .heading {
    margin: 20px auto;
    h1 {
      font-size: 3rem;
      font-family: "Raleway";
      font-weight: 500;
      color: $orange;
      position: relative;
      margin-bottom: 50px;

      &::before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        height: 4px;
        transform: translateX(-50%);
        width: 100px;
        background: $blue;
      }
    }
  }
}

.linkage_container {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}
.linkage {
  width: 100%;
  display: flex;
  justify-content: center;

  .item {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 6px solid $blue;
    border-radius: 5px;

    img {
      max-width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width:640px){
  .iscool_linkage {
    .heading {
      h1 {
        font-size: 2.2rem;
      }
    }
  }
}

@media screen and (max-width:350px){
  .iscool_linkage {
    .heading {
      h1 {
        font-size: 1.8rem;
      }
    }
  }
}


// =================== services ================
.our_service {
  .service_heading {
    h1 {
      font-size: 3rem;
      font-family: "Raleway";
      font-weight: 500;
      text-align: center;
      color: $orange;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 50px;

      &::before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        height: 2px;
        transform: translateX(-50%);
        width: 100px;
        background: $blue;
      }
    }
  }
  .card {
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    padding: 10px;
    transform: scale(0.9);
    background: #005b96;
    height: 350px;
    transition: all 500ms;
    .service_heading {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 0;
      span {
        border: 3px solid #adcbe3;
        border-radius: 50%;
        font-size: 20px;
        padding: 20px 32px;
        color: #adcbe3;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .service_title {
      h2 {
        margin-top: 30px;
        text-align: center;
        font-weight: 300;
        color: #fff;
        transition: all 500ms;
      }
    }

    .service_body {
      text-align: center;
      margin-top: 30px;
      p {
        font-size: 1.4rem;
        color: #fff;
      }
    }

    .service_footer {
      position: absolute;
      bottom: 5%;
    }

    &:hover {
      transform: scale(0.95);
      background: #6497b1;
    }
  }
}

.our_service {
  .card:hover span {
    background: $grey2;
    border: 3px solid $orange;
    color: $orange;
  }

  .card:hover .service_title h2 {
    font-weight: bold;
  }
}

.our_service {
  .our_service_slider {
    display: flex;
  }
}


@media only screen and (max-width: 640px){
  .our_service {
    .service_heading {
      h1 {
        font-size: 2rem !important;
      }
    }
  }
}

// --------------------------footer section------------------------

.footer {
  background-image: linear-gradient(135deg, #243949 10%, #517fa4 100%);
  padding: 24px 0px 0px 0px;
  z-index: 1005;
}

.footer_section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.footer_col1 {
  padding: 10px;

  h3 {
    color: $grey2;
    font-weight: 600;
    margin-bottom: 15px;
  }

  p {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
    font-size: 1.4rem;
    text-align: justify;
  }

  .sci {
    display: flex;
    justify-content: center;

    .fa {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
      width: 50px;
      height: 50px;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.3);
      color: $orange;
      margin: 0 4px;
      transition: all 500ms ease-in-out;

      &:hover {
        background: $blue;
        color: $sky-blue;
      }
    }
  }
}

.footer_col2 {
  padding: 10px;

  h3 {
    color: $grey2;
    font-weight: 600;
    margin-bottom: 15px;
  }

  a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
    transition: all 500ms ease-in-out;

    &:hover {
      color: $sky-blue;
    }
  }
}

.footer_col3 {
  padding: 10px;

  h3 {
    color: $grey2;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .fa {
    color: $sky-blue;
    margin-right: 10px;
    font-size: 1.4rem;
    cursor: pointer;
  }
  a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
    transition: all 500ms ease-in-out;

    &:hover {
      color: $sky-blue;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .footer_section {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 540px) {
  .footer_col3 {
    .location_map {
      margin: auto;
      iframe {
        width: 100% !important;
      }
    }
  }
}

// footer
.footer_2nd {
  background-image: linear-gradient(135deg, #243949 10%, #517fa4 100%);
  padding: 1.5rem;

  p {
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
  }
}

// --------------------------sticky-banner------------------------

.sticky_banner {
  position: fixed;
  bottom: 30%;
  left: 0px;
}

.sticky_banner {
  span {
    width: 40px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    background: $blue;
    opacity: 0.8;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms;

    &:hover {
      background: $orange;
      width: 60px;
      opacity: 1;
    }

    .fa {
      font-size: 1.8rem;
    }
  }
}

@media screen and (max-width:480px){
  .sticky_banner{
    span{
      width: 30px;
      height: 30px;

      .fa{
        font-size: 1.2rem;
      }
    }
  }
}

// =================== about us ================
.heading {
  background-image: url("../img/about_us.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Raleway";
  font-weight: 500;
  color: $orange;
  position: relative;
  height: 100px;
  h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 100px;
    text-align: center;
    color: $orange;
    text-transform: uppercase;
  }
}

.aboutus_container {
  p {
    text-align: justify;
    font-weight: 300;
    color: $blue;
    font-size: 1.7rem;

    span {
      color: $blue2;
      font-weight: 500;
    }
  }

  .sub_heaidng {
    h2 {
      width: 200px;
      padding: 10px 10px;
      background: $blue2;
      color: $grey2;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      margin-bottom: 10px;
      box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.3);
    }
  }

  hr {
    border: 3px solid $blue;
    background: $blue;
  }
}

@media screen and (max-width: 480px){
  .heading{
    height: 70px;
    h1{
      line-height: 70px;
    }
  }
}

/* =============== Scroll Up =================== */
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -10%;
  padding: 1rem;
  background-color: $blue;
  display: flex;
  opacity: 0.7;
  z-index: 99999;
  transition: 0.4s;
}

.scrollup__icon {
  color: #fff;
  font-weight: 300;
  font-size: 1.4rem;
  transition: 0.4s;
}

.scrollup:hover {
  background-color: $blue;
  opacity: 1;
}

/*  Show Scroll Up */
.scrollup.show_scroll {
  bottom: 10%;
}
